{
  "mpi": {
    "command": "mpirun",
    "configuration": "@MPI_CONFIG@"
  },
  "vol": {},
  "file-system": {
    "lustre": {
      "stripe-count": "4",
      "stripe-size": "1M"
    }
  },
  "directory": "@DIRECTORY@",
  "benchmarks": [
    {
      "benchmark": "write",
      "file": "@DATA_FILE@",
      "configuration": {
        "MEM_PATTERN": "CONTIG",
        "FILE_PATTERN": "CONTIG",
        "NUM_DIMS": "1",
        "DIM_1": "1 M",
        "DIM_2": "1",
        "DIM_3": "1",
        "TIMESTEPS": "5",
        "EMULATED_COMPUTE_TIME_PER_TIMESTEP": "0 s",
        "MODE": "SYNC",
        "COLLECTIVE_DATA": "@COLL_DATA@",
        "COLLECTIVE_METADATA": "@COLL_META@",
        "CSV_FILE": "@WRITE_CSV@"
      }
    },
    {
      "benchmark": "read",
      "file": "@DATA_FILE@",
      "configuration": {
        "MEM_PATTERN": "CONTIG",
        "FILE_PATTERN": "CONTIG",
        "READ_OPTION": "FULL",
        "NUM_DIMS": "1",
        "DIM_1": "1 M",
        "DIM_2": "1",
        "DIM_3": "1",
        "TIMESTEPS": "5",
        "EMULATED_COMPUTE_TIME_PER_TIMESTEP": "0 s",
        "MODE": "SYNC",
        "COLLECTIVE_DATA": "@COLL_DATA@",
        "COLLECTIVE_METADATA": "@COLL_META@",
        "CSV_FILE": "@READ_CSV@"
      }
    }
  ]
}
